# Kustomization permettant de créer les Secrets et ConfigMaps pour le chart step-certificates
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: step-ca

configMapGenerator:
  - name: acme-step-certificates-certs
    files:
      - secrets/intermediate_ca.crt
      - secrets/root_ca.crt

secretGenerator:
  - name: acme-step-certificates-ca-password
    envs:
      - secrets/intermediate_ca.password
    type: smallstep.com/ca-password
    options:
      annotations:
        kubernetes.io/description: Mot de passe de la clé de certificat émetteur (intermediate_ca)
  - name: acme-step-certificates-provisioner-password
    envs:
      - secrets/jwk_provisioner.password
    type: smallstep.com/provisioner-password
    options:
      annotations:
        kubernetes.io/description: Mot de passe de la clé du provisionneur JWK
  - name: acme-step-certificates-secrets
    files:
      - secrets/intermediate_ca_key
      - secrets/root_ca_key
    type: smallstep.com/private-keys

generatorOptions:
  # ne pas suffixer les noms des configmaps et secrets
  disableNameSuffixHash: true
