apiVersion: v1
kind: ConfigMap
metadata:
  annotations:
    kubernetes.io/description: Configuration de step-ca
  name: {{ include "step-ca-secrets.fullname" . }}-config
  namespace: {{ .Release.Namespace }}
data:
  ca.json: |
    {
      "address": ":9100",
      "authority": {
        "claims": {
          "defaultHostSSHCertDuration": "720h",
          "defaultTLSCertDuration": "2160h",
          "defaultUserSSHCertDuration": "24h",
          "disableRenewal": false,
          "maxHostSSHCertDuration": "1680h",
          "maxTLSCertDuration": "2160h",
          "maxUserSSHCertDuration": "24h",
          "minHostSSHCertDuration": "5m",
          "minTLSCertDuration": "5m",
          "minUserSSHCertDuration": "5m"
        },
        "enableAdmin": false,
        "provisioners": [{
          "encryptedKey": {{ required "provisioner.key est requise" .Values.provisioner.key | trim | quote }},
          "key": {{ required "certificats.provisioner_pub est requise" .Values.provisioner.pub | nindent 10 }},
          "name": "admin",
          "options": {
            "ssh": {},
            "x509": {}
          },
          "type": "JWK"
          }, {
            "name": "acme",
            "type": "ACME"
          }
        ]
      },
      "crt": "/home/step/certs/intermediate_ca.crt",
      "db": {
        "dataSource": "/home/step/db",
        "type": "badgerv2"
      },
      "dnsNames": [
        "ca.internal",
        "ac.internal",
        "{{ include "step-ca-secrets.fullname" . }}.{{ .Release.Namespace }}.svc.cluster.local",
        "127.0.0.1"
      ],
      "federateRoots": [],
      "key": "/home/step/secrets/intermediate_ca_key",
      "logger": {
        "format": "json"
      },
      "root": "/home/step/certs/root_ca.crt",
      "tls": {
        "cipherSuites": [
          "TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256",
          "TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256"
        ],
        "maxVersion": 1.3,
        "minVersion": 1.2,
        "renegotiation": false
      }
    }
  defaults.json: |
    {
      "ca-config": "/home/step/config/ca.json",
      "ca-url": "{{ include "step-ca-secrets.fullname" . }}.{{ .Release.Namespace }}.svc.cluster.local",
      "fingerprint": "{{ required "root_ca.fingerprint est requise" .Values.root_ca.fingerprint }}",
      "root": "/home/step/certs/root_ca.crt"
    }

  ssh.tpl: |-{{ .Files.Get "files/ssh.tpl" | nindent 4 }}

  x509_leaf.tpl: |-{{ .Files.Get "files/x509_leaf.tpl" | nindent 4 }}
